<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Приложение по подбору подарков</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
<form class="decor" action="/pagetwo" method="get" >
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">


  <h2 th:text="${que.getText()}"></h2>
    <div class="flex-container">
    <div  th:each="opt:${que.getOpt()}">
      <input type="checkbox" name="checkvar" th:value="${opt}" />
      <label th:text="${opt}"></label>
    </div>
    </div>

    <input type="submit" value="Следующий">
  </div>
</form>
</body>
</html>